Alle Produkte zuletzt aktualisiert {{ .Page.GitInfo.AuthorDate.Format "02.01.2006 15:04:05" }} (<a href="https://github.com/holygrolli/ringana-prices/commit/{{ .Page.GitInfo.Hash }}">{{ .Page.GitInfo.AbbreviatedHash }}</a>).

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">Matchcode</th>
              <th scope="col">Produkt</th>
              <th scope="col">Preis</th>
              <th scope="col">Punkte</th>
              <th scope="col">Rabatt</th>
              <th scope="col">Rabattende</th>
            </tr>
        </thead>
        <tbody>
            {{ range $.Site.Data }}
            <tr>
                <th scope="row">{{ .matchcode }}</th>
                <td><a href="https://katrinseifert.ringana.com/produkt/{{.slug}}">{{ .title }}</a></td>
                <td
                {{ if .priceInformation.customer.discountUntil }}
                class="table-success"
                {{ end }}
                >
                    {{.priceInformation.customer.brutto}}
                    {{ if .priceInformation.customer.discountUntil }}
                    / <s>{{.priceInformation.customer.bruttoWithoutDiscount}}</s>
                    {{ end }}
                </td>
                <td
                {{ if and (.priceInformation.customer.discountUntil) (eq .priceInformation.customer.provisionPoints .priceInformation.customer.initialPurchase.provisionPoints) }}
                class="table-success"
                {{ end }}
                >
                    {{.priceInformation.customer.provisionPoints}}
                </td>
                <td>{{.priceInformation.customer.discountPercentage}}</td>
                <td>
                    {{ if .priceInformation.customer.discountUntil }}
                    {{ time .priceInformation.customer.discountUntil "Europe/Berlin" | time.Format "02.01.2006 15:04" }}
                    {{ end }}
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
